<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          Copyright © Виртуальная Авиакомпания ЮТэйр 2005-2024. All rights reserved.Виртуальная Авиакомпания ЮТэйр не
          имеет отношение к деятельности ОАО «Авиакомпания «ЮТэйр». Логотип UTair является зарегистрованными товарными
          знаками ОАО «Авиакомпания «ЮТэйр». Виртуальная Авиакомпания ЮТэйр является объединением любителей
          авиасимуляторов. Если вы хотите посетить официальный сайт ОАО «Авиакомпания «ЮТэйр», пройдите по данной
          ссылке: <a href="https://www.utair.ru">www.utair.ru</a>
        </p>
      </div>
    </div>
  </div>
</footer>
