footer {
  padding: 40px 0;
  background: #003594;
  font-size: 20px;
  font-weight: 200;
  color: #FFFFFF;
  text-align: center;

  a, a:hover, a:active, a:focus, a:visited {
    color: #FFFFFF;
  }
}
