<div class="row">
  <app-timetable-filter [flights]="timetable? timetable.items : []" (filterUpdated)="updateTimetable(undefined, $event)"></app-timetable-filter>
</div>
<div class="row">
  <app-pagable-table
    class="timetable"
    *ngIf="timetable"
    [columns]="tableColumns"
    [dataSource]="timetable.items"
    [page]="page"
    [collectionSize]="timetable.totalResults"
    [pageSize]="pageSize"
    [rowTemplate]="row"
    [actionsTemplate]="actions"
    (updatePagination)="updateTimetable($event)">
    <ng-template #row let-item>
      <td *ngFor="let header of tableColumns">
        <ng-container *ngIf="header.key === 'daysOfWeek'">
          <div class="days-of-week-container d-flex justify-content-center">
            <span *ngFor="let day of daysOfWeek" [class]="{'day-of-week': true, 'active': item[header.key].includes(day.key.toString())}">{{ day.value }}</span>
          </div>
        </ng-container>
        <ng-container *ngIf="header.key !== 'daysOfWeek'">{{ item[header.key] }}</ng-container>
      </td>
    </ng-template>
    <ng-template #actions let-row>
      <a href="javascript:void(0)" (click)="openDoBookingModal(this.selectFlightForBookingModal, row.id)" *ngIf="checkTripIsAvailable(row)">Забронировать</a>
    </ng-template>
  </app-pagable-table>
</div>

<ng-template #selectFlightForBookingModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title my-0" id="add-new-type-rating">Забронировать рейс</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <span class="fw-light">Рейс <b>{{ bookingFlight?.flightNumber }}</b>:</span>
            <div class="col-12 col-lg-4 mt-lg-0 mt-4">
                <label for="acType">Aircraft type</label>
                <select id="acType" class="form-control" (focus)="bookingDisabled = false" [(ngModel)]="selectedAircraftType">
                    <option *ngFor="let aircraft of pilotAircraftTypes"
                            [selected]="bookingFlight?.aircraftType === aircraft.icao" [value]="aircraft.icao">{{ aircraft.name }}
                    </option>
                </select>
            </div>
            <div class="col-12 col-lg-4 mt-lg-0 mt-4 schedule-date">
                <label for="scheduleDate">Schedule date</label>
                <div class="input-group">
                    <ngb-timepicker [(ngModel)]="selectedDepartureTime" (click)="bookingDisabled = false"></ngb-timepicker>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="bookingDisabled" class="btn btn-primary" (click)="doBooking(modal.id)">Забронировать рейс</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Отмена</button>
    </div>
</ng-template>
