<div class="d-flex justify-content-center">
  <div class="card col-12 col-lg-5" *ngIf="exam?.examResult">
    <div class="card-header text-center">
      <div class="card-title">
        <ng-container *ngIf="exam?.examResult?.isSuccess">
          <h3><span class="text-success fa fa-smile"></span> Успешно!</h3>
        </ng-container>
        <ng-container *ngIf="!exam?.examResult?.isSuccess">
          <h3><span class="text-danger fa fa-face-sad-tear"></span> Кажется немного не хватило</h3>
        </ng-container>
      </div>
    </div>
    <div class="card-body text-center">
      <ng-container *ngIf="exam && exam?.examResult?.isSuccess">
        <div class="d-flex justify-content-center">
          <div class="fw-bold">Ваш результат: </div>
          <div class="ms-1 text-danger"> {{ exam?.examResult?.resultPercent }}%</div>
        </div>
        <hr />
        <div class="mb-3 mt-3">
          {{ successMessage(exam) }}
        </div>
        <button [routerLink]="['/', 'dashboard', 'main']" class="btn btn-primary">Вернуться на главную</button>
      </ng-container>
      <ng-container *ngIf="!exam?.examResult?.isSuccess">
        <div class="d-flex justify-content-center">
          <div class="fw-bold">Ваш результат: </div>
          <div class="ms-1 text-danger"> {{ exam?.examResult?.resultPercent }}%</div>
        </div>
        <hr />
        <div>Это значит что Вы не прошли тест. Но вы можете <br/><button (click)="reassignFailedExam()" class="btn btn-primary">попробовать еще раз завтра</button></div>
      </ng-container>
    </div>
  </div>
</div>
