<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" *ngFor="let headerKey of columns">
      <ng-container *ngIf="headerTemplate">
        <ng-template *ngTemplateOutlet="headerTemplate; context: {$implicit: headerKey }"></ng-template>
      </ng-container>
      <ng-container *ngIf="!headerTemplate">
        {{ headerKey.title }}
      </ng-container>
    </th>
    <ng-container *ngIf="actionsTemplate">
      <th></th>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of dataSource">
    <ng-container *ngIf="rowTemplate">
      <ng-template *ngTemplateOutlet="rowTemplate; context: {$implicit: item }"></ng-template>
    </ng-container>
    <ng-container *ngIf="!rowTemplate">
      <td *ngFor="let cell of columns">
        <ng-container *ngIf="cellTemplate">
          <ng-template *ngTemplateOutlet="cellTemplate; context: {$implicit: item[cell.key] }"></ng-template>
        </ng-container>
        <ng-container *ngIf="!cellTemplate">
          {{ item[cell.key] }}
        </ng-container>
      </td>
    </ng-container>
    <td *ngIf="actionsTemplate">
      <ng-template *ngTemplateOutlet="actionsTemplate; context: {$implicit: item }"></ng-template>
    </td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="emitUpdate(page, pageSize)"
  >
  </ngb-pagination>

  <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="emitUpdate(page, pageSize)">
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="15">15 items per page</option>
  </select>
</div>
