<div class="sidebar" data-color="black" data-active-color="danger">
  <div class="logo">
    <a [routerLink]="'/dashboard/main'" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="/assets/logo-small-white.svg">
      </div>
    </a>
    <a [routerLink]="'/dashboard/main'" class="simple-text logo-normal">Dispatch center</a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <ng-container *ngFor="let item of menuItems">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="item.path" [queryParams]="item.queryParams">
            <i [class]="'nc-icon ' + item.icon"></i>
            <p>{{ item.title }}</p>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
