<div class="container-fluid">
  <ng-container *ngIf="!userIsPilot()">
    <div class="col-xl-6 col-12">
      <app-dashboard-user [logbook]="nonPilotLogbook()"></app-dashboard-user>
    </div>
  </ng-container>
  <ng-container *ngIf="userIsPilot()">
    <div class="row">
      <div *ngIf="logbook" class="col-xl-6 col-12">
        <app-dashboard-user [logbook]="logbook"></app-dashboard-user>
      </div>
      <div *ngIf="logbook" class="col-xl-6 col-12">
        <div class="row">
          <div class="col-12 col-xl-6">
            <app-dashboard-small-block title="Минимум" [value]="logbook.minimum" icon="map-big" helpLink="javascript:void(0)" helpText="Как получить?"></app-dashboard-small-block>
          </div>
          <div class="col-12 col-xl-6">
            <app-dashboard-small-block title="Ранг" [value]="logbook.rank" [image]="logbook.rankIcon" helpLink="javascript:void(0)" helpText="Как получить?"></app-dashboard-small-block>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-type-rating-block [logbook]="logbook"></app-type-rating-block>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Logbook</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <th class="fw-light"></th>
                <th class="fw-light">Вылет</th>
                <th class="fw-light">Прилет</th>
                <th class="fw-light">Время в пути</th>
                <th class="fw-light">Аэропорт посадки</th>
                <th class="fw-light">Маршрут</th>
                </thead>
                <tbody>
                <ng-container *ngIf="logbook?.logbookItems">
                  <tr *ngFor="let item in logbook.logbookItems" >
                    <td>{{ item.created }}</td>
                    <td>{{ item.from }}</td>
                    <td>{{ item.to }}</td>
                    <td>{{ item.flightTime }}</td>
                    <td>{{ item.landingAirport }}</td>
                    <td>{{ item.route }}</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="logbook?.logbookItems">
                  <tr><td colspan="12" class="text-center"><div class="mt-5 mg-5 fw-light">Тут пока ничего нет.</div></td></tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
