<section class="container mt-5 text-center">
  <div class="row">
    <div class="col-12">
      <h1>Авторизация</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 text-start mt-5 mb-5">
        <div class="card">
          <div class="card-body">
            <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
            <form [formGroup]="formData" (ngSubmit)="onClickSubmit()">
              <div class="mb-3">
                <label for="userName" class="form-label">Логин</label>
                <input type="text" name="userName" formControlName="userName" [class]="{'form-control': true, 'is-invalid': userName?.errors}" id="userName" aria-describedby="login-help" required>
                <div class="invalid-feedback" *ngIf="userName?.errors?.['required']">Обязательно для заполнения</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" name="password" formControlName="password" [class]="{'form-control': true, 'is-invalid': password?.errors}" id="password" required>
                <div class="invalid-feedback" *ngIf="password?.errors?.['required']">Обязательно для заполнения</div>
              </div>
              <button type="submit" [disabled]="inProgress" class="btn btn-primary">
                <span *ngIf="inProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <ng-container *ngIf="!inProgress">Войти</ng-container>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
