<div class="card">
    <div class="card-header">
        <h3>Лист ожидания тренажера</h3>
    </div>
    <div class="card-body">
        <app-pagable-table
            *ngIf="trainingList && trainingList.items"
            [columns]="tableColumns"
            [dataSource]="trainingList.items"
            [cellTemplate]="cell"
            [actionsTemplate]="actions"
            [page]="page"
            [collectionSize]="trainingList.totalResults"
            [pageSize]="pageSize"
            (updatePagination)="updateTrainingList($event)">
            <ng-template #cell let-content>{{ content }}</ng-template>
            <ng-template #actions let-row>
                <a href="javascript:void(0)" *ngIf="row.instructorId === null && row.status === 'idle'"
                   (click)="assignToTraining(row)">Подписаться на экзамен</a>
                <ng-container *ngIf="row.instructorId === logbook?.id">
                    <ng-container *ngIf="row.status === 'started'">
                        <a href="javascript:void(0)" (click)="openFinishTrainingModal(this.finishTrainingModal, row)">Завершить</a> |
                        <a href="javascript:void(0)" (click)="stopTraining(row)">Остановить</a>
                    </ng-container>
                    <a href="javascript:void(0)" *ngIf="row.status === 'assigned'" (click)="startTraining(row)">Начать</a>
                    <span *ngIf="row.status === 'passed'">Пройден, результат <b>{{ row.resultPercent }}%</b></span>
                </ng-container>
            </ng-template>
        </app-pagable-table>
    </div>
</div>

<ng-template #finishTrainingModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title my-0" id="add-new-type-rating">Завершение тренажера</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click'); currentTrainingToFinish = undefined"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <span class="fw-light">Вы собираетесь завершить тренажер для <b>{{ currentTrainingToFinish?.pilotName }}</b>. Пожалуйста поставьте оценку от 0 до 100%.</span>
            <div class="mt-3">
                <input type="number" [formControl]="trainingResultPercent" min="0" max="100">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="finishTraining(currentTrainingToFinish)">Завершить тренажер</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel'); currentTrainingToFinish = undefined">Отмена</button>
    </div>
</ng-template>
