<div class="modal-header">
    <h6 class="text-primary">Select new trip leg destination</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalClosed.emit()"></button>
</div>
<div class="modal-body">
    <app-pagable-table
        *ngIf="timeTable"
        [columns]="tableColumns"
        [dataSource]="timeTable.items"
        [page]="page"
        [collectionSize]="timeTable.totalResults"
        [pageSize]="pageSize"
        [rowTemplate]="row"
        [actionsTemplate]="actions"
        (updatePagination)="updateTimetable($event)">
        <ng-template #row let-item>
            <td *ngFor="let header of tableColumns">
                <ng-container *ngIf="header.key === 'daysOfWeek'">
                    <div class="days-of-week-container d-flex justify-content-center">
                        <span *ngFor="let day of daysOfWeek" [class]="{'day-of-week': true, 'active': item[header.key].includes(day.key.toString())}">{{ day.value }}</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="header.key !== 'daysOfWeek'">{{ item[header.key] }}</ng-container>
            </td>
        </ng-template>
        <ng-template #actions let-row>
            <a href="javascript:void(0)" class="btn btn-default btn-sm" (click)="selectNewLegDestination(row)">Select</a>
        </ng-template>
    </app-pagable-table>

</div>
<div class="modal-footer"></div>
