<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-uppercase">Экзамены</h4>
        <p class="card-category text-uppercase">Доступные и пройденные экзамены.</p>
      </div>
      <div class="card-body card-content table-responsive table-full-width" *ngIf="exams && exams.items">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="text-center">Пройден</th>
            <th>Описание</th>
            <th>Результат</th>
            <th>Тип</th>
            <th>Дата</th>
            <th>Дата прохождения</th>
          </tr></thead>
          <tbody>
          <ng-container *ngFor="let exam of exams.items">
            <tr>
              <td class="text-center">
                <span *ngIf="exam.examResult && exam.examResult.isSuccess" class="fa fa-check text-success"></span>
                <span *ngIf="exam.examResult && !exam.examResult.isSuccess" class="fa fa-close text-danger"></span>
              </td>
              <td *ngIf="exam.passedAt || !isDateApplicable(exam)">{{ exam.description }}</td>
              <td *ngIf="!exam.passedAt && isDateApplicable(exam)"><a [routerLink]="'/dashboard/exam/' + exam.id">{{ exam.description }}</a></td>
              <td><span *ngIf="exam.isPassed">{{ exam.examResult?.resultPercent + '%' }}</span></td>
              <td>{{ exam.type }}</td>
              <td>{{ exam.date }}</td>
              <td>{{ exam.passedAt }}</td>
              <td>
                <div class="d-flex align-items-center">
                  <span *ngIf="!isDateApplicable(exam) && !exam.isPassed"
                        class="fa fa-question-circle fs-5 text-warning pointer pe-auto"
                        ngbTooltip="Дата экзамена еще не наступила"></span>
                  <button
                    [disabled]="!isDateApplicable(exam)"
                    class="btn btn-primary ms-4"
                    *ngIf="!exam.passedAt && !isTraining(exam)" [routerLink]="'/dashboard/exam/' + exam.id">
                    Начать экзамен
                  </button>
                  <ng-container *ngIf="isTraining(exam) && !exam.isPassed">
                    <span>Свяжитесь с инструктором.</span>
                    <span *ngIf="exam.instructorName" class="ms-1">Ваш инструктор: <b>{{ exam.instructorName }}</b></span>
                  </ng-container>
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
