section {
  padding: 70px 0 136px;

  h2 {
    font-size: 64px;
    margin-bottom: 0;
    color: #003594;

    & + p {
      font-size: 32px;
      font-weight: 300;
      color: #003594;
    }
  }
}

section.dark {
  background: #003594;
  color: #FFFFFF;

  h2 {
    color: #FFFFFF;

    & + p {
      color: #FFFFFF;
    }
  }
}

.advantages {
  .advantage-item {
    margin-bottom: 42px;

    .advantage-icon {
      width: 94px;
      height: 94px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .advantage-description {
      width: calc(100% - 102px);

      h3 {
        font-size: 32px;
        font-weight: 400;
      }

      p {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.3;
      }
    }
  }
}

.register-steps {
  .register-step {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .register-step-icon {
      width: 180px;
      height: 180px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .register-step-desc {
      font-size: 32px;
      font-weight: 300;
      line-height: 1.1;
      margin-top: 18px;

      a, a:hover, a:active, a:focus, a:visited {
        color: #FFFFFF;
      }
    }
  }
}

.partners {
  .partner-icon {
    width: 320px;
    height: 124px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
