<div class="container-fluid">
  <app-banner></app-banner>
</div>
<section class="container-fluid advantages">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Возможности</h2>
        <p>У нас вы сможете</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="advantage-item d-flex">
          <div class="advantage-icon" style="background-image: url('/assets/icons/globe.svg')"></div>
          <div class="advantage-description ms-4">
            <h3>Актуальное расписание</h3>
              <p>Мы следим за актуальностью<br/>используемых данных</p>
          </div>
        </div>
        <div class="advantage-item d-flex">
          <div class="advantage-icon" style="background-image: url('/assets/icons/beach.svg'); height: 106px; background-size: 106px"></div>
          <div class="advantage-description ms-4">
            <h3>Чартеры в любую точку мира</h3>
            <p>Система чартерных рейсов позволяет<br/>выполнять рейсы в любую точку мира</p>
          </div>
        </div>
      </div>
      <div class="col-6 text-end">
        <div class="advantage-item d-flex">
          <div class="advantage-description me-4">
            <h3>Обучающая система</h3>
            <p>Система челенджей и экзаменов<br/>позволит получить новый опыт</p>
          </div>
          <div class="advantage-icon" style="background-image: url('/assets/icons/captain.svg')"></div>
        </div>
        <div class="advantage-item d-flex">
          <div class="advantage-description me-4">
            <h3>Дополнительные возможности</h3>
            <p>Отслеживание полётов, рейтинговая<br/>система и многое другое</p>
          </div>
          <div class="advantage-icon" style="background-image: url('/assets/icons/availability.svg')"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid dark register-steps">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Присоединяйся</h2>
        <p>Это легко</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4 register-step">
        <div class="register-step-icon" style="background-image: url('/assets/icons/browser.svg')"></div>
        <div class="register-step-desc">Заполни форму регистрации</div>
      </div>
      <div class="col-4 register-step">
        <div class="register-step-icon" style="background-image: url('/assets/icons/meeting.svg')"></div>
        <div class="register-step-desc">Пройди простое интервью в <a href="#">Discord</a></div>
      </div>
      <div class="col-4 register-step">
        <div class="register-step-icon" style="background-image: url('/assets/icons/handshake.svg')"></div>
        <div class="register-step-desc">Добро пожаловать!</div>
      </div>
    </div>
  </div>
</section>
<section class="partners">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Наши партнеры</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4 d-flex justify-content-center">
        <div class="partner-icon" style="background-image: url('/assets/icons/partners/s7-virtual.png')"></div>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <div class="partner-icon" style="background-image: url('/assets/icons/partners/vatsim.png')"></div>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <div class="partner-icon" style="background-image: url('/assets/icons/partners/vatrus.png')"></div>
      </div>
    </div>
  </div>
</section>
