<div class="row" *ngIf="exam && exam.questions">
  <div class="col-md-12" *ngIf="!exam.examResult">
    <h1 class="">{{ exam.description }}</h1>
    <div class="card mt-5" *ngFor="let question of exam.questions">
      <div class="card-header mt-2">
        <div class="card-title"><h5>{{ question.question }}</h5></div>
      </div>
      <div class="card-body">
        <ng-container *ngFor="let option of question.options">
          <div [class]="'form-check' + (question.onlyOneAnswerIsPossible ? '-radio' : '')">
            <input [name]="'question-' + question.id"
                   [checked]="option.checked"
                   (change)="updateData($event, question, option)"
                   [type]="question.onlyOneAnswerIsPossible ? 'radio' : 'checkbox'" [value]="option.id"
                   [id]="'question-' + question.id + '-option-' + option.id"/>
            <label [for]="'question-' + question.id + '-option-'+ option.id"
                   class="form-check-label form-check-sign">{{ option.text }}</label>
          </div>
        </ng-container>
      </div>
    </div>
    <button [disabled]="!isAllAnswersDone() || progress" (click)="submitTest()" class="btn btn-primary mt-5">Завершить экзамен</button>
  </div>
  <app-exam-result class="col-12" *ngIf="exam.examResult" [exam]="exam"></app-exam-result>
</div>
