<section class="container mt-5 text-center">
  <div class="row">
    <div class="col-12">
      <h1>Регистрация</h1>
      <p>Добро пожаловать в Utair Virtual. Надеемся вам понравится наше сообщество.</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-5 text-start mt-5 mb-5">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="registerForm" (ngSubmit)="doRegister()">
                <div class="mb-3">
                  <label for="login" class="form-label">Логин</label>
                  <input type="text" name="login" formControlName="login" [class]="{'form-control': true, 'is-invalid': errors && errors['login']}" id="login" aria-describedby="login-help" required>
                  <div id="login-help" *ngIf="!getError('login')" class="form-text">Будет использоваться для входа.</div>
                  <div class="invalid-feedback" *ngIf="getError('login')">{{ getError('login') }}</div>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" name="email" formControlName="email" [class]="{'form-control': true, 'is-invalid': errors && errors['email']}" class="form-control" id="email" aria-describedby="email-help" required>
                  <div id="email-help" *ngIf="!getError('email')" class="form-text">Ваше email. Мы не передаем ваше email кому либо.</div>
                  <div class="invalid-feedback" *ngIf="getError('email')">{{ getError('email') }}</div>
                </div>
                <div class="mb-3">
                  <label for="fullName" class="form-label">Полное имя</label>
                  <input type="text" name="fullName" formControlName="fullName" [class]="{'form-control': true, 'is-invalid': errors && errors['fullName']}" id="fullName" aria-describedby="fullName-help" required>
                  <div id="fullName-help" *ngIf="!getError('fullName')"  class="form-text">Полное имя, для отображения в Вашем профиле.</div>
                  <div class="invalid-feedback" *ngIf="getError('fullName')">{{ getError('fullName') }}</div>
                </div>
                <div class="mb-3">
                  <label for="birthDate" class="form-label">Дата рождения</label>
                  <input type="date" name="birthDate" formControlName="birthDate" [class]="{'form-control': true, 'is-invalid': errors && errors['birthDate']}" id="birthDate" aria-describedby="birthDate-help" required>
                  <div id="birthDate-help" *ngIf="!getError('birthDate')" class="form-text">Дата рождения, для отображения в Вашем профиле.</div>
                  <div class="invalid-feedback" *ngIf="getError('birthDate')">{{ getError('birthDate') }}</div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Пароль</label>
                  <input type="password" name="password" formControlName="password" [class]="{'form-control': true, 'is-invalid': errors && errors['password']}" id="password" required>
                  <div class="invalid-feedback" *ngIf="getError('password')">{{ getError('password') }}</div>
                </div>
                <div class="mb-3">
                  <label for="confirmPassword" class="form-label">Подтвердите пароль</label>
                  <input type="password" name="confirmPassword" formControlName="confirmPassword" [class]="{'form-control': true, 'is-invalid': errors && errors['confirmPassword']}" id="confirmPassword" required>
                  <div class="invalid-feedback" *ngIf="getError('confirmPassword')">{{ getError('confirmPassword') }}</div>
                </div>
                <div class="mb-5 mt-5 form-check">
                  <input type="checkbox" [formControl]="confirmRulesControl" [class]="{'form-check-input': true, 'is-invalid': !confirmRulesControl.value}" id="rules" required>
                  <label class="form-check-label" for="rules" >Регистрируясь, я соглашаюсь с правилами сообщества</label>
                  <div class="invalid-feedback" *ngIf="confirmRulesControl.value">Для продолжения необходимо согласится с правилами сообщества</div>
                </div>
                <button type="submit" style="min-width: 180px" class="btn btn-primary" [disabled]="(this.errors | keyvalue) || !confirmRulesControl.value || inProgress" >
                  <span *ngIf="inProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <ng-container *ngIf="!inProgress">Зарегистрироваться</ng-container>
                </button>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
