.schedule-date {
  button {
    margin: 0;
    padding: 0 22px;
  }
}

.schedule-available-for-me {
  .form-check {
    margin: 6px 0;
  }

  .form-check-sign:after {
    top: 1px;
  }
}

select {
  padding: 10px;
}

.filter-btn {
  padding: 10px;
}
