<div id="main-banner" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div [class]="{'carousel-item': true, 'active': item.isActive()}"
         *ngFor="let item of banners.values()"
         [style]="'background-image: url(' + item.getImage() + ')'"
         (mouseenter)="resetSlidesInterval()"
         (mouseleave)="runSlides()">
      <div class="slide-content container">
        <div class="row">
          <h2 class="slide-title mb-0 ps-0">{{ item.getTitle() }}</h2>
          <div class="slide-description mb-0 ps-0">
            <p>{{ item.getDescription() }}</p>
            <a *ngIf="item.getButton()" class="btn btn-primary slide-link mt-4" [href]="item.getButton()?.link">{{ item.getButton()?.title }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="javascript:void(0)" (click)="prevSlide()">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="javascript:void(0)" (click)="nextSlide()">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--<ngb-carousel-->
<!--  #carousel-->
<!--  [interval]="5000"-->
<!--&gt;-->
<!--  <ng-template ngbSlide *ngFor="let item of banners.values()">-->
<!--    <div class="carousel-caption">-->
<!--      <h3>{{ item.getTitle() }}</h3>-->
<!--			</div>-->
<!--			<a href="{{ item.getButton()?.link }}" target="_blank" rel="nofollow noopener noreferrer">-->
<!--				<div class="picsum-img-wrapper">-->
<!--					<img [src]="item.getImage()" alt="My image {{ item.getTitle() }} description" />-->
<!--				</div>-->
<!--			</a>-->
<!--		</ng-template>-->
<!--</ngb-carousel>-->
