.carousel-item {
  width: 100%;
  height: 563px;
  color: #003594;

  .slide-content {
    margin-top: 131px;
    //margin-left: 324px;

    .slide-title {
      font-size: 64px;
      font-weight: 500;
    }

    .slide-description {
      font-size: 32px;
      font-weight: lighter;
    }
  }
}
