.card {
    border-radius: 12px;
    border: none;

    .card-header {
        font-size: 1rem;
        font-weight: bold;
        border-radius: 12px 12px 0 0;
        padding: 10px;

        button {
            margin: 0;
        }
    }

    .card-body {
        font-size: 0.85rem;
    }
}
