<div class="card shadow mb-3" *ngIf="tripInfo">
    <div class="card-header bg-success text-white">
        <h6 class="mb-0">Flight Information</h6>
    </div>
    <div class="card-body">
        <p class="small mb-1"><strong>Status:</strong> {{ tripInfo.status | titlecase }}</p>
        <p class="small mb-1"><strong>Captain:</strong> {{ tripInfo.captain }}</p>
        <p class="small mb-1" *ngIf="tripInfo.status === 'booked' || tripInfo.firstOfficer"><strong>First Officer:</strong>
            <ng-container *ngIf="tripInfo.firstOfficer">{{ tripInfo.firstOfficer }}</ng-container>
            <ng-container *ngIf="!tripInfo.firstOfficer"><a class="text-secondary" href="javascript:void(0)"> Invite</a></ng-container>
        </p>
        <p class="small mb-1"><strong>From:</strong> {{ tripInfo.from }}</p>
        <p class="small mb-1"><strong>To:</strong> {{ tripInfo.to }}</p>
        <p class="small mb-1"><strong>Route:</strong> {{ getFullRouteString() }}</p>
        <p class="small mb-1"><strong>Duty Time:</strong> {{ tripInfo.dutyTime }} minutes</p>
    </div>
</div>
