<div class="card shadow">
    <div class="card-header bg-info text-white">
        <h6>Route Overview</h6>
    </div>
    <div class="card-body">
        <div id="map" class="rounded" style="height: 600px; border: 1px solid #ddd;"></div>
    </div>
</div>
