.header {
  background-color: #003594;
  min-height: 80px;
  align-items: center;
  display: flex;

  .logo {
    width: 108px;
    height: 40px;
    background: url("/assets/logo.svg") no-repeat center;
    background-size: cover;
  }

  .main-menu {
    margin-left: auto;
    color: #FFFFFF;
    font-size: 18px;
    height: 100%;
  }
}
