<div class="header">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-3 logo align-items-center"></div>
      <div class="col-7 ms-5 main-menu align-items-center">
        <app-main-menu></app-main-menu>
      </div>
      <div class="col-2 ms-auto d-flex justify-content-end">
        <a *ngIf="!isLoggedIn()" class="btn btn-primary" [routerLink]="'/login'"><i class="bi bi-person"></i> Служебный вход</a>
        <a *ngIf="isLoggedIn()" class="btn btn-primary" [routerLink]="'/dashboard/main'"><i class="bi bi-person"></i> {{ userName() }}</a>
      </div>
    </div>
  </div>
</div>
