<div class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <app-flight-information [tripInfo]="tripInfo"></app-flight-information>

            <app-aircraft-information [tripInfo]="tripInfo"></app-aircraft-information>

            <app-legs-management [tripInfo]="tripInfo" (tripUpdated)="tripInfo = $event"></app-legs-management>

            <div class="d-flex justify-content-between mt-3" *ngIf="tripInfo && tripInfo.status === 'booked'">
                <button class="btn btn-primary btn-sm" (click)="startTrip()">Start trip</button>
            </div>
        </div>

        <div class="col-md-6">
            <app-trip-booking-map [tripInfo]="tripInfo"></app-trip-booking-map>
        </div>
    </div>
</div>







