<div class="card shadow mb-3" *ngIf="tripInfo">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
        <h6 class="mb-0">Aircraft Information</h6>
        <button class="btn btn-light btn-sm" (click)="showAircraftStats(aircraftStatsModal)">Show aircraft stats</button>
    </div>
    <div class="card-body">
        <p class="small mb-1"><strong>Registration:</strong> {{ tripInfo.aircraft.registration }}</p>
        <p class="small mb-1"><strong>Model:</strong> {{ tripInfo.aircraft.icao }}</p>
        <p class="small mb-1"><strong>Location:</strong> {{ tripInfo.aircraft.location }}(Gate: {{ tripInfo.aircraft.gate }})</p>
        <p class="small mb-1"><strong>Fuel on board:</strong> {{ tripInfo.aircraft.fob }} kg.</p>
    </div>
</div>

<ng-template #aircraftStatsModal let-modal>
    <app-aircraft-stats-modal [modal]="modal" [tripInfo]="tripInfo"></app-aircraft-stats-modal>
</ng-template>
