.autocomplete-wrapper {
  position: relative;

  .autocomplete-entries {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FFFFFF;
    padding: 8px 0 8px 0;
    z-index: 1;
    max-height: 50vh;
    overflow: auto;

    li {
      list-style: none;
      padding: 4px 16px;

      &:hover {
        background: var(--bs-orange);

        a {
          color: #FFFFFF;
        }
      }

      a {
        color: var(--bs-gray-900);
        text-decoration: none;
        display: block;
      }
    }
  }
}
