<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-5 mb-2 mb-lg-0 w-100 main-menu">
        <li class="nav-item ms-3" *ngFor="let item of items">
          <a class="nav-link" [routerLinkActive]="['active']" aria-current="page" [routerLink]="item.getLink()">{{ item.getTitle() }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
